<div class="container">
  <iframe id="module" [src]="moduleUrl | safe" style="height: 400px"></iframe>
  <button [disabled]="isFirstStep" class="btn btn-primary" (click)="toPrevious()">Prev</button>
  <button [disabled]="isLastStep" class="btn btn-primary" (click)="toNext()">Next</button>
</div>
