<div class="container" id="new-project-component">
  <form>
    <div class="form-group">
      <label for="displayName">Display name</label>
      <input
        id="displayName"
        class="form-control"
        [(ngModel)]="displayName"
        name="displayName"
        type="text"
        required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        [(ngModel)]="description"
        id="description"
        name="description"
        required></textarea>
    </div>
    <div class="form-group">
      <span>Customization of the project will be available after its creation. You will be automatically redirected.</span>
    </div>
    <button class="btn btn-primary" (click)="addNew()">Add</button>
  </form>

</div>
