$line-height: 56px;

header {
  height: $line-height;
  background-color: #353535;
}

.login-input {
  //width: 150px;
}

.password-input {
  //width: 150px;
}

.navbar-brand {
  border-right: 1px solid gray;
  /* border-spacing: 9px; */
  /* margin-right: 9px; */
  padding-right: 27px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
