<!--header>
  <div class="container">
    <navigation class="column navigation" [loggedUsername]="isLogged"></navigation>
    <user-navigation class="column auth" [loggedUsername]="isLogged"></user-navigation>
  </div>
</header-->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
    <a class="navbar-brand" routerLink="/">TOP PLM SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" routerLink="/projects" [routerLinkActive]="['active']">Projects</a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link" routerLink="/modules" [routerLinkActive]="['active']">Modules</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="!isLogged()">
        <input class="login-input form-control mr-sm-2" name="login" type="text" placeholder="Login" aria-label="Login" [(ngModel)]="username">
        <input class="password-input form-control mr-sm-2" name="password" type="password" placeholder="Password" aria-label="Password" [(ngModel)]="password">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login</button>
        <button class="btn btn-outline-success ml-sm-2" (click)="open(content)">Register</button>
      </form>
      <div class="form-inline my-2 my-lg-0" *ngIf="isLogged()">
        <button class="btn btn-outline-success ml-sm-2" (click)="logout()">Logout</button>
      </div>
    </div>
    </div>
  </nav>
</header>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <register-modal></register-modal>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
