﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World - ASP.NET MVC</title>
</head>
<body>
<main role="main" class="container">
    @RenderBody()
</main>
<script language="javascript" src="Bundles/inline.bundle.js"></script>
<script language="javascript" src="Bundles/polyfills.bundle.js"></script>
<script language="javascript" src="Bundles/styles.bundle.js"></script>
<script language="javascript" src="Bundles/vendor.bundle.js"></script>
<script language="javascript" src="Bundles/main.bundle.js"></script>
</body>
</html>
