<div class="form-group">
  <label for="typeahead-http">Search for module:</label>
  <input
    id="typeahead-http"
    type="text"
    class="form-control"
    [class.is-invalid]="searchFailed"
    [ngbTypeahead]="searchModule"
    placeholder="Modules search"
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
    (selectItem)="selectModule($event.item)"/>
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <div>{{ r.displayName}}</div>
  <div>{{ r.id}}</div>
</ng-template>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let module of modules">
    <td>{{module.displayName}}</td>
    <td>
      <button class="btn btn-sq-xs btn-danger" (click)="deleteModuleFromProject(module.id, projectId)">
        <i class="fa fa-trash fa-1x"></i><br/>
      </button>
    </td>
  </tr>
  </tbody>
</table>
