<footer class="footer">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <span style="color: whitesmoke">TOP PLM Systems (c) LETI</span>
    </div>
  </div>
</footer>
