﻿@using Uni.Plm.Test1.Module.Areas.Uni.Plm.Test1.Module.Controllers
@model List<Uni.Plm.Test1.Module.Areas.Uni.Plm.Test1.Module.Controllers.ModuleController.Parameter>

<html>
<head>
    <link href="http://localhost:4200/assets/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h2>Project data information</h2>
    @foreach (ModuleController.Parameter par in Model)
    {
        <span>@par.Key ----- @par.Value</span>
    }
</body>
</html>