﻿@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Master.cshtml";
}

<iframe id ="module" src="@Url.Action("Index", "Module", new {area = Model})"></iframe>
<br />
@Model
<a id="next" href="#">Next</a>
<a id="prev" href="#">Prev</a>


<script language="javascript">

    var a = document.getElementById('next');
    a.onclick = function (e) {
        e.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '@Url.Action("Next")');
        xhr.onreadystatechange = function () {
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            if (xhr.readyState === DONE) {
                if (xhr.status === OK)
                    document.getElementById('module').src = xhr.responseText + '/Module'; // 'This is the returned text.'
            } else {
                console.log('Error: ' + xhr.status); // An error occurred during the request.
            }
        }
        xhr.send(null);
    };

    var a = document.getElementById('prev');
    a.onclick = function (e) {
        e.preventDefault();

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '@Url.Action("Prev")');
        xhr.onreadystatechange = function () {
            var DONE = 4; // readyState 4 means the request is done.
            var OK = 200; // status 200 is a successful return.
            if (xhr.readyState === DONE) {
                if (xhr.status === OK)
                    document.getElementById('module').src = xhr.responseText + '/Module'; // 'This is the returned text.'
            } else {
                console.log('Error: ' + xhr.status); // An error occurred during the request.
            }
        }
        xhr.send(null);
    };
</script>