<div class="form-group">
  <label for="typeahead-http">Search for user:</label>
  <input
    id="typeahead-http"
    type="text"
    class="form-control"
    [class.is-invalid]="searchFailed"
    [ngbTypeahead]="searchUser"
    placeholder="Users search"
    [resultTemplate]="rt"
    [inputFormatter]="formatter"
    (selectItem)="selectUser($event.item)"
    [(ngModel)]="model"/>
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <div>{{ r.username}}</div>
  <div>{{ r.email}}</div>
</ng-template>

<table class="table">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Group</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><span [title]="user.projectGroup.description">{{user.projectGroup.name}}</span></td>
    <td>
      <button *ngIf="user.projectGroup.id != 1" class="btn btn-sq-xs btn-danger" (click)="deleteUserFromProject(user.id, projectId)">
        <i class="fa fa-trash fa-1x"></i><br/>
      </button>
    </td>
  </tr>
  </tbody>
</table>
