<div class="container" id="home-component">

  <div class="title">Projects</div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.displayName}}</td>
      <td>{{project.description}}</td>
      <td>
        <button class="btn btn-primary" routerLink="/{{project.id}}/workflow">Workflow</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
