<div class="container" id="modules-component">

  <table class="table">
    <thead>
    <tr>
      <th>Display Name</th>
      <th>Description</th>
      <th>Id</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let module of modules">
      <td>{{module.displayName}}</td>
      <td>{{module.description}}</td>
      <td>{{module.id}}</td>
      <td>
        <button class="btn btn-sq-xs btn-primary">
          <i class="fa fa-edit fa-1x"></i><br/>
        </button>
        <button class="btn btn-sq-xs btn-danger" (click)="deleteModule(module.id)">
          <i class="fa fa-trash fa-1x"></i><br/>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success ml-sm-2" (click)="open(addModule)">Add new</button>
</div>

<ng-template #addModule let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button #closeBtn type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-module [closeBtn]="closeBtn" (uploaded)="onModuleAdded()"></app-new-module>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
