﻿@using Uni.Plm.Test0.Module
@model Int32
<html>
<head>
    <link href="http://localhost:4200/assets/styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<h2>Project data step</h2>
<form>
    <div class="form-group">
        <label for="organization">Organization</label>
        <input
            id="organization"
            class="form-control"
            formControlName="organization"
            name="organization"
            type="text"
            required />
    </div>
    <div class="form-group">
        <label for="leadEngineerName">Lead engineer name</label>
        <input
            id="leadEngineerName"
            class="form-control"
            formControlName="leadEngineerName"
            name="leadEngineerName"
            type="text"
            required />
    </div>
    
    <button class="btn btn-primary" onclick="save()">Save</button>
    <span id="saveResult"></span>
</form>



<script language="javascript">

    function findGetParameter(parameterName) {
        var result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }

    function setParameterValue(key, value, success) {
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '@Url.Action("SetParameterValue")', false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        var body = {
            projectId: findGetParameter('projectId'),
            key: key,
            value: value
        }
        if (success) {
            xhr.onreadystatechange = success;
        }
        xhr.send(JSON.stringify(body));
    }

    function save() {
        var organization = document.getElementById('organization').value;
        var leadEngineerName = document.getElementById('leadEngineerName').value;
        setParameterValue('@ParameterNames.Organization', organization, () => {
            setParameterValue('@ParameterNames.LeadEngineerName', leadEngineerName, () => {
                document.getElementById('saveResult').innerText = 'Saved!';
                setTimeout(() => {
                    document.getElementById('saveResult').innerText = '';
                }, 5000);
            });
        });
    }
</script>
</body>
</html>