<form>
  <div class="form-group">
    <label for="displayName">Display name</label>
    <input
      id="displayName"
      class="form-control"
      [(ngModel)]="displayName"
      name="displayName"
      type="text"
      required />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      [(ngModel)]="description"
      id="description"
      name="description"
      required></textarea>
  </div>

  <div class="form-group">
    <label for="file">File</label>
    <input
      class="form-control"
      #fileInput
      id="file"
      name="file"
      type="file"
      required/>
  </div>

  <button class="btn btn-primary" (click)="addNew()">Add</button>
</form>
