<form>
  <div class="form-group">
    <label for="username">Username</label>
      <input
        id="username"
        class="form-control"
        [(ngModel)]="username"
        name="username"
        type="text"
        required />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      class="form-control"
      [(ngModel)]="password"
      id="password"
      name="password"
      type="password"
      required
      pattern="/^[\S]{6,}$/"/>

  </div>
  <div class="form-group">
      <label for="cpassword">Confirm Password</label>
        <input
          id="cpassword"
          class="form-control"
          name="confirmationPassword"
          type="password"
          required
          pattern="/^[\S]{6,}$/"/>

  </div>
  <div class="form-group">
    <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          type="email"
          required />
  </div>

  <button class="btn btn-primary" (click)="register()">Sign Up</button>
</form>
