<div class="container page-body" id="project-settings-component">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel title="General">
      <ng-template ngbPanelContent>
        <form [formGroup]="generalForm">
          <div class="form-group">
            <label for="displayName">Display name</label>
            <input
              id="displayName"
              class="form-control"
              formControlName="displayName"
              name="displayName"
              type="text"
              required />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="description"
              name="description"
              required></textarea>
          </div>

          <button class="btn btn-primary" (click)="saveGeneral()">Save changes</button>
        </form>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Users">
      <ng-template ngbPanelContent>
        <app-users-settings [projectId]="projectId"></app-users-settings>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Modules">
      <ng-template ngbPanelContent>
        <app-modules-settings [projectId]="projectId"></app-modules-settings>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
