<div class="container" id="home-component">

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td>{{project.displayName}}</td>
      <td>{{project.description}}</td>
      <td>
        <button class="btn btn-sq-xs btn-primary" routerLink="/projects/{{project.id}}/settings">
          <i class="fa fa-edit fa-1x"></i><br/>
        </button>
        <button class="btn btn-sq-xs btn-danger" (click)="deleteProject(project.id)">
          <i class="fa fa-trash fa-1x"></i><br/>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success ml-sm-2" routerLink="/projects/create">Add new</button>
</div>
